.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#searchInput {
    width: 90%;
    max-width: 600px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid #009CDE;
    background-color: #1A2A38;
    color: white;
    outline: none;
    font-size: 16px;
}

@media (min-width: 768px) {
    .card-carro {
        width: calc(25% - 20px);
        max-width: 250px;
    }

    .vitrine {
        gap: 20px;
        padding: 40px;
    }

    .card-carro img {
        height: 150px;
    }

    #searchInput {
        width: 50%;
    }
}