html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.favoritos-container { 
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 5%; 
    color: white; 
}

.titulo-secao {
    color: #F5921D; 
    text-align: center; 
    margin-bottom: 20px; 
    font-family: 'Architects Daughter', cursive;
}

.menu-superior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px 0 40px 0;
    width: 100%;
    max-width: 600px;
}

.btn {
    flex: 1;
    max-width: 140px;
    height: 45px;
    background-color: #1A2A38;
    color: #009CDE;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    border: 2px solid #009CDE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: 0.3s;
}

.vazio-msg { 
    text-align: center; 
    color: #ccc; 
    margin-top: 20px; 
    font-size: 18px; 
}