body {
    background-image: url('../IMAGENS_E_VÍDEOS/fundocadastro.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
}

.cadastro-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cadastro-box {
    background-color: #1A2A38;
    padding: 50px;
    border-radius: 12px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

.cadastro-box h2 {
    color: white;
    margin-bottom: 40px;
    font-size: 32px;
    font-family: 'Fjalla One', sans-serif;
}

.input-group {
    margin-bottom: 25px;
    text-align: left;
}

.input-group label {
    color: #abb2b9;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #2C4A63;
    background-color: #0d1117;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;;
}

.btn-cadastrar {
    width: 100%;
    padding: 16px;
    background-color: #009CDE;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

.btn-cadastrar:hover {
    background-color: #F5921D;
}

.cadastro-footer {
    margin-top: 35px;
    font-size: 15px;
    color: #abb2b9;
}

.cadastro-footer a {
    color: #F5921D;
    text-decoration: none;
}
@media (min-width: 768px) {
    .login-container, .form-login {
        max-width: 400px;
        margin: 50px auto;
        padding: 40px;
        border: 1px solid #009CDE;
        border-radius: 10px;
    }
}