<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>CoreMotors - Meus Favoritos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/favorito.css">
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <aside id="drawer" class="drawer">
        <div class="drawer-header">
            <button id="closeMenu" class="btn-fechar">×</button>
        </div>
        <nav class="drawer-links">
            <a href="{{ url_for('home') }}">Início</a>
            <a href="{{ url_for('explorar') }}">Explorar</a>
            <a href="{{ url_for('filtro') }}">Filtros</a>
            <a href="{{ url_for('favorito') }}">Favoritos</a>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="{{ url_for('ajuda') }}">Ajuda</a>
            <a href="{{ url_for('suporte') }}">Fale Conosco</a>
            <p class="copy">&copy; CoreMotors</p>
        </nav>
    </aside>
    <div id="overlay-menu" class="overlay-menu"></div>

    <header>
        <nav class="navbar">
            <h1 id="logo">CoreMotors</h1>
            <div style="display: flex; align-items: center; gap: 15px;">
                <a class="login" href="login.html">Entrar</a>
                <button id="openMenu" class="btn-abrir-menu">☰</button>
            </div>
        </nav>
    </header>

    <main class="favoritos-container">
        <h2 class="titulo">Minhas Fichas Salvas</h2>

        <section class="menu-superior">
            <a href="explorar.html" class="btn">EXPLORAR</a>
            <a href="filtro.html" class="btn">FILTRAR</a>
            <a href="ajuda.html" class="btn">AJUDA</a>
        </section>

        <div id="lista-favoritos" class="vitrine-favoritos"></div>
    </main>

    <footer>
      <div class="footer-content">
        <p class="footer-slogan">Sua biblioteca técnica automotiva.</p>
        <p class="copyright">&copy; CoreMotors</p>
      </div>
    </footer>

    <script src="../static/index.js"></script>
    <script src="../static/favorito.js"></script>
</body>
</html>